<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467298360859-sofcr974cqeub231js1amesddi45afp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467298360859-sofcr974cqeub231js1amesddi45afp8</string>
	<key>API_KEY</key>
	<string>AIzaSyBNPJhl9VsYE4nKxPmxoM1xhDjkJXQEktk</string>
	<key>GCM_SENDER_ID</key>
	<string>467298360859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bikeBlog</string>
	<key>PROJECT_ID</key>
	<string>wus-bike-blog</string>
	<key>STORAGE_BUCKET</key>
	<string>wus-bike-blog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467298360859:ios:08a78c9bba1d27c61b22be</string>
</dict>
</plist>